In [61]:
import pandas as pd

parking = pd.read_csv('C:\\Users\\guilh\\Ironhack\\6Week\\Proj 6 Week\\Projdataset.csv')

In [62]:
parking.sample(30)

,Brand,Year,Color,Park Co.,Price/hour,N spots,Working MetroStation,Occupancy,Area Name
89,Low end,2018,WHITE,EMPARK,1.7,104,No,90,Arroios
26,Low end,2104,GREY,EMEL,1.1,225,Yes,95,Alvalade
61,Low end,2013,GREY,EMPARK,1.7,252,Yes,75,Avenidas Novas
72,High end,2016,BLACK,EMPARK,1.7,252,Yes,75,Avenidas Novas
11,High end,2017,GREY,EMPARK,1.2,412,Yes,20,São Vicente
5,Low end,2005,BLACK,EMPARK,1.2,412,Yes,20,São Vicente
14,Low end,2019,WHITE,EMPARK,1.2,412,Yes,20,São Vicente
18,Low end,2020,WHITE,EMPARK,1.2,412,Yes,20,São Vicente
62,Low end,2003,BLACK,EMPARK,1.7,252,Yes,75,Avenidas Novas
41,Low end,2018,RED,EMEL,1.1,225,Yes,95,Alvalade
71,High end,2005,BLACK,EMPARK,1.7,252,Yes,75,Avenidas Novas
27,Low end,2010,BLUE,EMEL,1.1,225,Yes,95,Alvalade
35,Low end,2019,BLUE,EMEL,1.1,225,Yes,95,Alvalade
6,Low end,2019,BLACK,EMPARK,1.2,412,Yes,20,São Vicente
49,Low end,2015,BLACK,EMEL,1.1,225,Yes,95,Alvalade
15,High end,2019,BLACK,EMPARK,1.2,412,Yes,20,São Vicente
90,Low end,2009,GREY,EMPARK,1.7,104,No,90,Arroios
80,Low end,2018,WHITE,EMPARK,1.7,104,No,90,Arroios
76,High end,2004,BLACK,EMPARK,1.7,104,No,90,Arroios
95,Low end,2007,GREY,EMPARK,1.7,104,No,90,Arroios
16,Low end,2019,BLACK,EMPARK,1.2,412,Yes,20,São Vicente
39,Low end,2003,GREY,EMEL,1.1,225,Yes,95,Alvalade
24,Low end,2002,GREY,EMPARK,1.2,412,Yes,20,São Vicente
10,Low end,2007,GREY,EMPARK,1.2,412,Yes,20,São Vicente
48,Low end,2001,GREY,EMEL,1.1,225,Yes,95,Alvalade
73,Low end,2011,BLACK,EMPARK,1.7,252,Yes,75,Avenidas Novas
98,High end,2014,GREY,EMPARK,1.7,104,No,90,Arroios
17,Low end,2019,BLACK,EMPARK,1.2,412,Yes,20,São Vicente
28,Low end,2010,BLACK,EMEL,1.1,225,Yes,95,Alvalade
91,Low end,2015,GREY,EMPARK,1.7,104,No,90,Arroios

In [94]:
#creates a dataframe with the parking with prices
lowend_df = parking[parking['Brand']=='Low end']

In [95]:
lowend_df

,Brand,Year,Color,Park Co.,Price/hour,N spots,Working MetroStation,Occupancy,Area Name
0,Low end,2014,GREY,EMPARK,1.2,412,Yes,20,São Vicente
1,Low end,1997,TURQUOISE,EMPARK,1.2,412,Yes,20,São Vicente
3,Low end,2006,GREY,EMPARK,1.2,412,Yes,20,São Vicente
4,Low end,2014,GREY,EMPARK,1.2,412,Yes,20,São Vicente
5,Low end,2005,BLACK,EMPARK,1.2,412,Yes,20,São Vicente
...,...,...,...,...,...,...,...,...,...
91,Low end,2015,GREY,EMPARK,1.7,104,No,90,Arroios
93,Low end,2015,GREY,EMPARK,1.7,104,No,90,Arroios
95,Low end,2007,GREY,EMPARK,1.7,104,No,90,Arroios
97,Low end,2017,WHITE,EMPARK,1.7,104,No,90,Arroios
99,Low end,2011,RED,EMPARK,1.7,104,No,90,Arroios

In [96]:
High_end_df = parking[parking['Brand']=='High end']
High_end_df

,Brand,Year,Color,Park Co.,Price/hour,N spots,Working MetroStation,Occupancy,Area Name
2,High end,2018,GREY,EMPARK,1.2,412,Yes,20,São Vicente
7,High end,2008,GREY,EMPARK,1.2,412,Yes,20,São Vicente
9,High end,2010,BLACK,EMPARK,1.2,412,Yes,20,São Vicente
11,High end,2017,GREY,EMPARK,1.2,412,Yes,20,São Vicente
15,High end,2019,BLACK,EMPARK,1.2,412,Yes,20,São Vicente
33,High end,2010,GREY,EMEL,1.1,225,Yes,95,Alvalade
40,High end,2005,BLACK,EMEL,1.1,225,Yes,95,Alvalade
42,High end,2002,BLACK,EMEL,1.1,225,Yes,95,Alvalade
50,High end,2020,BLACK,EMPARK,1.7,252,Yes,75,Avenidas Novas
52,High end,2019,BLUE,EMPARK,1.7,252,Yes,75,Avenidas Novas
56,High end,2014,BLACK,EMPARK,1.7,252,Yes,75,Avenidas Novas
58,High end,2005,GREY,EMPARK,1.7,252,Yes,75,Avenidas Novas
67,High end,1996,GREY,EMPARK,1.7,252,Yes,75,Avenidas Novas
70,High end,2018,BLACK,EMPARK,1.7,252,Yes,75,Avenidas Novas
71,High end,2005,BLACK,EMPARK,1.7,252,Yes,75,Avenidas Novas
72,High end,2016,BLACK,EMPARK,1.7,252,Yes,75,Avenidas Novas
76,High end,2004,BLACK,EMPARK,1.7,104,No,90,Arroios
82,High end,2004,WHITE,EMPARK,1.7,104,No,90,Arroios
87,High end,2015,BLACK,EMPARK,1.7,104,No,90,Arroios
92,High end,2020,BLACK,EMPARK,1.7,104,No,90,Arroios
94,High end,2010,GREY,EMPARK,1.7,104,No,90,Arroios
96,High end,2016,RED,EMPARK,1.7,104,No,90,Arroios
98,High end,2014,GREY,EMPARK,1.7,104,No,90,Arroios

In [97]:
#test the independece between the price and if the brand is high or low end
st.ttest_ind(lowend_df['Price/hour'],High_end_df['Price/hour'],equal_var=False)

Ttest_indResult(statistic=-1.8013258142594797, pvalue=0.07958579075233052)

In [ ]:
#I can't conclude nothing the p value is not < 0.5%

In [98]:
#creates a dataframe with the parking with prices
low_ocup_df = parking[parking['Occupancy']>=90]

In [99]:
#creates a dataframe with the parking with prices
high_ocup_df = parking[parking['Occupancy']<90]

In [100]:
#test the independece between the price and if the occupancy is high or low 
st.ttest_ind(low_ocup_df['Price/hour'],high_ocup_df['Price/hour'],equal_var=False)

Ttest_indResult(statistic=-0.8962581595302728, pvalue=0.3723824596547509)

In [ ]:
#I can't conclude nothing the p value is not < 0.5%

In [63]:
parking.corr()

                Year  Price/hour   N spots  Occupancy
Year        1.000000   -0.076029 -0.009997   0.024894
Price/hour -0.076029    1.000000 -0.558070   0.302666
N spots    -0.009997   -0.558070  1.000000  -0.889679
Occupancy   0.024894    0.302666 -0.889679   1.000000

In [64]:
#There is a positive correlation between the Occupancy and the price/hour
#There is a negative correlation between the Number of spots and the Price/hour
#There is a strong negative correlation between the Number of spots and Occupancy
#The Year doesn't seem to be a factor that affects relates significantly with the Price/hou, N spots and the Occupancy.

In [65]:
mean_parking_price = parking.groupby(['Brand'], as_index=False).agg({'Price/hour': 'mean'})
mean_parking_price

      Brand  Price/hour
0  High end    1.513043
1   Low end    1.398701

In [66]:
#In average the High-end cars are in car parks with a higher average price/hour

In [67]:
std_parking_price = parking.groupby(['Brand'], as_index=False).agg({'Price/hour': 'std'})
std_parking_price

      Brand  Price/hour
0  High end    0.263377
1   Low end    0.279329

In [69]:
#instead of this test test the independency!!! I supose that they are related because of the high correlation
st.ttest_rel(parking['N spots'], parking['Occupancy'])

Ttest_relResult(statistic=12.952568856861289, pvalue=4.914439401008209e-23)

In [75]:
parking.columns

Index(['Brand', 'Year', 'Color', 'Park Co.', 'Price/hour', 'N spots',
       'Working MetroStation', 'Occupancy', 'Area Name'],
      dtype='object')

In [71]:
parking.dtypes

Brand                    object
Year                      int64
Color                    object
Park Co.                 object
Price/hour              float64
N spots                   int64
Working MetroStation     object
Occupancy                 int64
Area Name                object
dtype: object

In [72]:
parking['Brand'].value_counts()

Low end     77
High end    23
Name: Brand, dtype: int64

In [73]:
parking['Area Name'].value_counts()

Arroios           25
São Vicente       25
Alvalade          25
Avenidas Novas    25
Name: Area Name, dtype: int64

In [85]:
table = pd.crosstab(parking['Brand'],parking['Area Name'])
table

Area Name  Alvalade  Arroios  Avenidas Novas  São Vicente
Brand
High end          3        7               8            5
Low end          22       18              17           20

In [84]:
table2 = pd.crosstab(parking['Brand'],parking['Working MetroStation'])
table2

Working MetroStation  No  Yes
Brand
High end               7   16
Low end               18   59

In [87]:
# Contingency tables and independence of effects


import scipy.stats as st
import numpy as np
cars_table=[[7,16],
            [18,59]]

#GOODNESS OF FIT - FIT TO DISTRIBUTION
st.chi2_contingency(np.array(cars_table))
#statistic, p-value, degrees of freedom, expected probs if H0 holds

(0.16939582156973462,
 0.680649319221588,
 1,
 array([[ 5.75, 17.25],
        [19.25, 57.75]]))

In [101]:
#another way to do what was done above!!
st.chi2_contingency(np.array(table2))

(0.16939582156973462,
 0.680649319221588,
 1,
 array([[ 5.75, 17.25],
        [19.25, 57.75]]))